.about{
    .about-container{
        .about-container__title{
            font-size: 45px;
        }
        .about-container__sub-title{
            font-size: 30px;
        }
        .about-container__text-content{
            font-size: 18px;
        }
       .about-container-image{
           height: 400px;
           @media (min-width: 768px){
               width: 100%;
           }
           .about-container__image-responsive{
            width: 100%;
               @media (min-width: 768px){
                   width: 700px;
                   height: 400px; 
               }
           }
       } 
    }
}